<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br/>
    <ion-title>Countdown to next launch:</ion-title>
    <br/>
    <br/>
<app-timer></app-timer>
</ion-content>

<ion-content >
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
      <ion-item *ngIf="launch"  class="ion-activatable">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-thumbnail slot="start">
        <ion-skeleton-text *ngIf="!launch.links.mission_patch"></ion-skeleton-text>
          <img *ngIf="launch.links.mission_patch" [src]="launch.links.mission_patch"/>
        </ion-thumbnail>
        <ion-label>
          <h2>{{launch.mission_name}}</h2>
          <p>{{launch.launch_site.site_name_long}}</p>
          <p>{{launch.rocket.rocket_name}}</p>
        </ion-label>
        <ion-note slot="end">
          {{launch.launch_year}}
        </ion-note>
      </ion-item>
    </ion-list>
  </ion-content>
