<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Countdown to next launch:</h4>
<app-timer></app-timer>
</ion-content>

<ion-content padding>
    <!-- <ion-progress-bar class="mt-3" type="indeterminate" color="tertiary"></ion-progress-bar>
    <ion-progress-bar class="mt-3" color="secondary" value="0.5"></ion-progress-bar>
    <ion-progress-bar class="mt-3" value="0.25"  buffer="0.5"></ion-progress-bar> -->
    <!-- <pre>{{launches | json}}</pre> -->
  
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
      <ion-item *ngIf="launch"  class="ion-activatable">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-thumbnail slot="start">
          <img *ngIf="launch.links.mission_patch" [src]="launch.links.mission_patch"/>
        </ion-thumbnail>
        <ion-label>
          <h2>{{launch.mission_name}}</h2>
          <p>{{launch.launch_site.site_name_long}}</p>
          <p>{{launch.rocket.rocket_name}}</p>
        </ion-label>
        <ion-note slot="end">
          {{launch.launch_year}}
        </ion-note>
      </ion-item>
    </ion-list>
  </ion-content>
